@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@700&display=swap');




* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */

}

body {


    min-height: 100vh;
    min-width: 95vw;


}



 video {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

 /* .content {
    width: 100%;
   

} */





.inicio {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 23.77vh;
    /* 23.77 */
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 35px;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.7091211484593838) 9%, rgba(0, 0, 0, 0) 100%);

}

h1 {
    text-align: center;
    margin-top: 15px;
    color: white;

}

img {
    border-radius: 1em;
    /* width: 25vw; */

}


video {
    margin: 0;
    padding: 0;

}



.principal {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



input {
    width: 480px;
    height: 3.5vh;
    margin-top: 100px;
    border-radius: 10px;
    border: black;
    background-color: rgb(43, 41, 41);

}

#botao {
    background-color: rgba(25, 24, 24, 0.83);
    border-radius: 6px;
    color: rgb(225, 224, 224);
    border: rgba(25, 24, 24, 0.83);
    height: 3.5vh;
    width: 12.5vh;
}



.listaDeCarros {
    list-style: none;
    align-self: center;
    justify-content: left;
    padding: 1rem;
    font-size: 1em;
    flex-wrap: wrap;

}

.supra {
    width: 40rem;
    height: auto;
    background: rgb(40, 40, 40);
    background: linear-gradient(90deg, rgba(40, 40, 40, 1) 41%, rgba(40, 40, 40, 0.9192051820728291) 59%, rgba(40, 40, 40, 0.8855917366946778) 67%, rgba(40, 40, 40, 0.865983893557423) 69%, rgba(40, 40, 40, 0.8407738095238095) 70%, rgba(40, 40, 40, 0.8239670868347339) 71%, rgba(40, 40, 40, 0) 100%);
    border-radius: 10px;
    height: 40.80vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: aliceblue;
    display: flex;
    justify-content: center;



}

.golf {
    width: 40rem;
    height: auto;
    background: rgb(40, 40, 40);
    background: linear-gradient(90deg, rgba(40, 40, 40, 1) 41%, rgba(40, 40, 40, 0.9192051820728291) 59%, rgba(40, 40, 40, 0.8855917366946778) 67%, rgba(40, 40, 40, 0.865983893557423) 69%, rgba(40, 40, 40, 0.8407738095238095) 70%, rgba(40, 40, 40, 0.8239670868347339) 71%, rgba(40, 40, 40, 0) 100%);
    margin-top: 100px;
    border-radius: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;


}

.tesla {
    width: 40rem;
    height: auto;
    background: rgb(40, 40, 40);
    background: linear-gradient(90deg, rgba(40, 40, 40, 1) 41%, rgba(40, 40, 40, 0.9192051820728291) 59%, rgba(40, 40, 40, 0.8855917366946778) 67%, rgba(40, 40, 40, 0.865983893557423) 69%, rgba(40, 40, 40, 0.8407738095238095) 70%, rgba(40, 40, 40, 0.8239670868347339) 71%, rgba(40, 40, 40, 0) 100%);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;


}

.fim {
    z-index: 1;
    position: absolute;
    margin-left: 0;
    padding: 0;
    background-color: rgb(62, 57, 57);
    text-align: center;
    height: 18vh;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;



}


.icons {
    width: 4vw;
    height: 6vh;



}


p {

    margin-top: 15px;
    text-align: center;

}

.center {
    align-items: center;
}



@media screen and (min-device-width: 320px) and (max-device-width:480px) {


    main.principal {
        height: 300vh;
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header.inicio{
        width: 110%;
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }


    /* .carrosCel{
        width: 25rem;
        height: 40rem;
    } */

    .imgSupra {
        width: 250px;
        /* height: ; */
    }

    .imgGolf {
        width: 250px;
    }

    .imgTesla {
        width: 250px;
    }

    /* div.content{
        width: 100%;
        justify-content: center;
        align-items: center;
    } */

    article.supra {

        width: 15rem;
        height: 30rem;
        flex-direction: column;


    }

    article.golf {
        width: 15rem;
        height: 30rem;
        flex-direction: column;

    }

    article.tesla {

        width: 15rem;
        height: 30rem;
        flex-direction: column;

    }

    */ footer.fim {
        width: 110%;
        padding: 0 auto;

    }
}

@media screen and (min-device-width: 481px) and (max-device-width:720px) {


    main.principal {
        height: 330vh;
        width: 100%;
        gap: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header.inicio{
        font-size: 20px;
        justify-content: center;
        align-items: center;
    }


    /* .carrosCel{
        width: 25rem;
        height: 40rem;
    } */

    .imgSupra {
        width: 300px;
        /* height: ; */
    }

    .imgGolf {
        width: 300px;
    }

    .imgTesla {
        width: 300px;
    }

    div.content{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 50px;
        
    }

    article.supra {

        width: 20rem;
        height: 35rem;
        flex-direction: column;
        /* margin-right: 6rem; */



    }

    article.golf {
        width: 20rem;
        height: 35rem;
        flex-direction: column;

    }

    article.tesla {

        width: 20rem;
        height: 35rem;
        flex-direction: column;

    }

    */ footer.fim {
        position: fixed;
        width: 100%;
        padding: 0 auto;

    }





}